html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* SITE WIDE STYLING */
html {
  font-size: 62.5%;
}

body,
p,
a,
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body, button, input {
  font-size: 1.6rem;
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1320px;
  width: 95%;
  margin: 0 auto;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.bold {
  font-weight: 700;
}

.btnBlue {
  background-color: #498CCE;
  color: white;
  border: none;
  padding: 1.5rem 1rem;
  border-radius: 5px;
}

/* DARK MODE THEME */
#dark,
#dark main,
#dark .headerNav,
#dark footer {
  color: white;
  background-color: rgb(44, 41, 41);
}

#dark header {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}
#dark .navBarIcons li {
  color: rgb(210, 209, 209);
}

#dark .greyButton,
#dark .exploreRecommendations li,
#dark .tabs {
  background-color:#202639;
}

#dark .cardContainer,
#dark aside {
  background-color: #2c334a;
}

/* #dark .tabs {
  color: white;
  background-color: black;
} */

/* HEADER NAVIGATION */
.navContainer {
  border-bottom: 1px solid #D8DCDF;
  position: fixed;
  background-color: white;
  width: 100%;
}

.headerNav {
  padding: 10px 30px;
  color: #8b8b8b;
  font-size: 1.5rem;
  line-height: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preprLogo {
  max-width: 100px;
  min-width: 100px;
}

nav ul {
  display: flex;
  align-items: center;
}

.headerNav li {
  padding: 0 2.2rem;
}

.headerNav li:hover {
color: rgb(12, 159, 12);
}

.navBarIcons li {
  font-size: 2.5rem;
  color: #56565a;
  padding: 0 1.5rem;
}

.navBarIcons .userIcons {
  font-size: 4rem;
}

.userIcons img {
  max-width: 50px;
  min-width: 50px;
}

.navSearchBar input {
  padding: 0.9rem;
  border: 1px solid #CCD2D8;
  border-radius: 0 5px 5px 0;
  width: 260px;
}

/* HEADER / EXPLORE SECTION */
header {
  background: linear-gradient(90deg, rgba(213, 255, 198, 1) 0%, rgba(124, 210, 241, 1) 100%);
  min-height: calc(100vh + 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 18rem 0 14rem;
}

header .switch {
  align-self: flex-end;
  justify-self: flex-start;
  margin-top: -40px;
  padding-bottom: 40px;
  text-align: right;
  position:sticky;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.5rem;
}

header h1 {
  font-size: 4rem;
}

header h2 {
  font-size: 2.8rem;
  line-height: 3.5rem;
}

header p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 1.2rem 0 0 0;
}

header div {
  width: 50%;
}

.headerSearchBar input {
  width: 95%;
  padding: 1.5rem;
  border: 1px solid #DCDCDC;
  border-radius: 0 10px 10px 0;
  margin: 6.5rem 0;
}

.exploreRecommendations {
  margin: 2rem auto;
  width: 90%;
}

.exploreRecommendations li,
.greyButton {
  display: inline-block;
  font-size: 1.3rem;
  background-color: #F3F4F8;
  border: 1px solid #C8C8C8;
  border-radius: 10px;
  padding: 0.8rem;
  margin: 1rem 1.5rem 0.8rem 0;
  cursor: pointer;
}

/* MAIN SECTION AND CARDS */

main {
  background-color: #F3F7FC;
  padding: 5rem 0;
}

.blue {
  color: #498CCE;
}

.tabsGroup {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 3.2rem;
  border-radius: 10px;
  box-shadow: 4px 5px 6px 1px #B8BBBF;
  padding: 0.5rem;
  cursor: pointer;
}

.content {
  display: none;
}

.active-content {
  display: block;
}

.active-tabs,
#dark .active-tabs {
  background-color: #498CCE;
}

.tabs {
  width: calc(100% / 4);
}

.pagesNav {
  padding-top: 2rem;
  font-weight: 300;
  margin-left: 5rem;
}

.pagesNav ul {
  justify-content: flex-end;
}

.pagesNav li {
  padding: 0.5rem 1rem;
  border: 1px solid #13b15c;
}

.pagesNav li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagesNav li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mainContainer1 {
  width: 17%;
}

.mainContainer2 {
  width: 80%;
}

.filters {
  background-color: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 3px 4px 5px 0px #B8BBBF;
}
.filters h4 {
  font-size: 2rem;
  padding: 1rem;

}

.filters div {
  background-color: #498CCE;
  color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
  border-radius: 10px;
  margin: 2rem 0;
  box-shadow: 4px 5px 6px 1px #B8BBBF;
}

.cardContainerLeft {
  width: 25%;
}

.cardContainerLeft img {
  max-width: 250px;
  min-width: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.heart, .share, .views {
  padding: 0 0.6rem 0 1.5rem;
}

.cardContainerLeft p {
padding: 2rem 0;
}

.cardContainerRight {
  width: 75%;
  padding-left: 2.5rem;
}

.cardTitle, .cardStats {
  display: flex;
  align-items: center;
}

.cardTitle button {
  width: 100px;
}

.cardH3 {
  font-size: 2.8rem;
}

.cardDescription {
  margin: 2rem 0;
}

.cardImgBorder {
  border: 0.5px solid #DEE2E6;
  padding: 0.4rem;
  border-radius: 5px;
}

.cardIcon {
  max-width: 35px;
  margin-right: 1.5rem;
}

.starIcon {
  color: #aaa;
  margin: 3rem 0;
}

.starIcon i {
  padding: 0.4rem;
  cursor: pointer;
}

.starIcon i:hover {
  color: #FFBD56;
  transition: 0.4s;
}

/* FOOTER */
footer {
  border-top: 1px solid #D8DCDF;
  color: #727D92;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 20px 0;
}

footer a {
  padding: 0 5px;
  font-weight: bold;
}